PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/acowale_feedback?schema=public"
JWT_SECRET="replace-with-a-secure-secret-at-least-32-characters"
JWT_EXPIRES_IN="1d"
NODE_ENV="development"
CLIENT_URL="http://localhost:3000"
COOKIE_SECRET="replace-with-a-secure-cookie-secret-32-chars"
